p-toolbar {
  width: 100%;
  box-sizing: border-box;
}

.p-toolbar-group-left, .p-toolbar-group-right {
  display: flex;
  align-items: center;
}

.p-toolbar-group-left {
  flex: 1;
}

.p-toolbar-group-right {
  justify-content: flex-end;
}

.layout-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
